input{
  width: 500px !important;
}
img{
  width:25px;
}
.section{
  margin-top: 15px;
  width: 20%;
}
ul{
  list-style-type:none;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}
li{
  padding-bottom: 20px;
}